<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>OOSE DevOps Blog</title>
    <style>
      body {
        font-family: Arial;
        margin: 40px;
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <h1>DevOps-Based Blog Platform</h1>
    <h2>Recent Posts</h2>
    <ul th:each="post : ${posts}">
      <li>
        <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a
        ><br />
        <small th:text="${post.content.substring(0,120)} + '...'"></small>
      </li>
    </ul>
  </body>
</html>
